/*
 * Lilt REST API
 * The Lilt REST API enables programmatic access to the full-range of Lilt backend services including:   * Training of and translating with interactive, adaptive machine translation   * Large-scale translation memory   * The Lexicon (a large-scale termbase)   * Programmatic control of the Lilt CAT environment   * Translation memory synchronization  Requests and responses are in JSON format. The REST API only responds to HTTPS / SSL requests.  ## Authentication  Requests are authenticated via REST API key, which requires the Business plan.  Requests are authenticated using [HTTP Basic Auth](https://en.wikipedia.org/wiki/Basic_access_authentication). Add your REST API key as both the `username` and `password`.  For development, you may also pass the REST API key via the `key` query parameter. This is less secure than HTTP Basic Auth, and is not recommended for production use.  ## Quotas  Our services have a general quota of 4000 requests per minute. Should you hit the maximum requests per minute, you will need to wait 60 seconds before you can send another request. 
 *
 * The version of the OpenAPI document: v2.0
 * Contact: support@lilt.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.lilt.client.api;

import com.lilt.client.ApiCallback;
import com.lilt.client.ApiClient;
import com.lilt.client.ApiException;
import com.lilt.client.ApiResponse;
import com.lilt.client.Configuration;
import com.lilt.client.Pair;
import com.lilt.client.ProgressRequestBody;
import com.lilt.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.lilt.client.model.DocumentWorkflow;
import com.lilt.client.model.NextWorkflowTask;
import com.lilt.client.model.SetDocumentStageRequest;
import com.lilt.client.model.WorkflowTemplate;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class WorkflowsApi {
    private ApiClient localVarApiClient;

    public WorkflowsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public WorkflowsApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for advanceWorkflowStage
     * @param documentId A document id. (required)
     * @param taskId The task id of the current workflow stage. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An object with a documents next task Workflow metadata. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call advanceWorkflowStageCall(Integer documentId, Integer taskId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/document/{documentId}/task/{taskId}/advance"
            .replaceAll("\\{" + "documentId" + "\\}", localVarApiClient.escapeString(documentId.toString()))
            .replaceAll("\\{" + "taskId" + "\\}", localVarApiClient.escapeString(taskId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call advanceWorkflowStageValidateBeforeCall(Integer documentId, Integer taskId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'documentId' is set
        if (documentId == null) {
            throw new ApiException("Missing the required parameter 'documentId' when calling advanceWorkflowStage(Async)");
        }
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling advanceWorkflowStage(Async)");
        }
        

        okhttp3.Call localVarCall = advanceWorkflowStageCall(documentId, taskId, _callback);
        return localVarCall;

    }

    /**
     * Advance workflow to the next stage
     * Advance a workflow to the next stage and mark current workflow task as complete.  Example CURL: &#x60;&#x60;&#x60; curl --X --request POST &#39;https://lilt.com/2/workflows/document/{documentId}/task/{taskId}/advance?key&#x3D;API_KEY&#39; &#x60;&#x60;&#x60;  
     * @param documentId A document id. (required)
     * @param taskId The task id of the current workflow stage. (required)
     * @return NextWorkflowTask
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An object with a documents next task Workflow metadata. </td><td>  -  </td></tr>
     </table>
     */
    public NextWorkflowTask advanceWorkflowStage(Integer documentId, Integer taskId) throws ApiException {
        ApiResponse<NextWorkflowTask> localVarResp = advanceWorkflowStageWithHttpInfo(documentId, taskId);
        return localVarResp.getData();
    }

    /**
     * Advance workflow to the next stage
     * Advance a workflow to the next stage and mark current workflow task as complete.  Example CURL: &#x60;&#x60;&#x60; curl --X --request POST &#39;https://lilt.com/2/workflows/document/{documentId}/task/{taskId}/advance?key&#x3D;API_KEY&#39; &#x60;&#x60;&#x60;  
     * @param documentId A document id. (required)
     * @param taskId The task id of the current workflow stage. (required)
     * @return ApiResponse&lt;NextWorkflowTask&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An object with a documents next task Workflow metadata. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<NextWorkflowTask> advanceWorkflowStageWithHttpInfo(Integer documentId, Integer taskId) throws ApiException {
        okhttp3.Call localVarCall = advanceWorkflowStageValidateBeforeCall(documentId, taskId, null);
        Type localVarReturnType = new TypeToken<NextWorkflowTask>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Advance workflow to the next stage (asynchronously)
     * Advance a workflow to the next stage and mark current workflow task as complete.  Example CURL: &#x60;&#x60;&#x60; curl --X --request POST &#39;https://lilt.com/2/workflows/document/{documentId}/task/{taskId}/advance?key&#x3D;API_KEY&#39; &#x60;&#x60;&#x60;  
     * @param documentId A document id. (required)
     * @param taskId The task id of the current workflow stage. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An object with a documents next task Workflow metadata. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call advanceWorkflowStageAsync(Integer documentId, Integer taskId, final ApiCallback<NextWorkflowTask> _callback) throws ApiException {

        okhttp3.Call localVarCall = advanceWorkflowStageValidateBeforeCall(documentId, taskId, _callback);
        Type localVarReturnType = new TypeToken<NextWorkflowTask>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getDocumentWorkflow
     * @param documentId A document id. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An object with document Workflow metadata. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getDocumentWorkflowCall(Integer documentId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/workflows/document/{documentId}"
            .replaceAll("\\{" + "documentId" + "\\}", localVarApiClient.escapeString(documentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getDocumentWorkflowValidateBeforeCall(Integer documentId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'documentId' is set
        if (documentId == null) {
            throw new ApiException("Missing the required parameter 'documentId' when calling getDocumentWorkflow(Async)");
        }
        

        okhttp3.Call localVarCall = getDocumentWorkflowCall(documentId, _callback);
        return localVarCall;

    }

    /**
     * Retrieve document Workflow metadata
     * Get Workflow metadata related to a document. This is useful for gathering information about the current Workflow stage of a document.  Example CURL: &#x60;&#x60;&#x60; curl --X --request GET &#39;https://lilt.com/2/workflows/document/{documentId}?key&#x3D;API_KEY&#39; &#x60;&#x60;&#x60;  
     * @param documentId A document id. (required)
     * @return DocumentWorkflow
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An object with document Workflow metadata. </td><td>  -  </td></tr>
     </table>
     */
    public DocumentWorkflow getDocumentWorkflow(Integer documentId) throws ApiException {
        ApiResponse<DocumentWorkflow> localVarResp = getDocumentWorkflowWithHttpInfo(documentId);
        return localVarResp.getData();
    }

    /**
     * Retrieve document Workflow metadata
     * Get Workflow metadata related to a document. This is useful for gathering information about the current Workflow stage of a document.  Example CURL: &#x60;&#x60;&#x60; curl --X --request GET &#39;https://lilt.com/2/workflows/document/{documentId}?key&#x3D;API_KEY&#39; &#x60;&#x60;&#x60;  
     * @param documentId A document id. (required)
     * @return ApiResponse&lt;DocumentWorkflow&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An object with document Workflow metadata. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<DocumentWorkflow> getDocumentWorkflowWithHttpInfo(Integer documentId) throws ApiException {
        okhttp3.Call localVarCall = getDocumentWorkflowValidateBeforeCall(documentId, null);
        Type localVarReturnType = new TypeToken<DocumentWorkflow>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Retrieve document Workflow metadata (asynchronously)
     * Get Workflow metadata related to a document. This is useful for gathering information about the current Workflow stage of a document.  Example CURL: &#x60;&#x60;&#x60; curl --X --request GET &#39;https://lilt.com/2/workflows/document/{documentId}?key&#x3D;API_KEY&#39; &#x60;&#x60;&#x60;  
     * @param documentId A document id. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An object with document Workflow metadata. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getDocumentWorkflowAsync(Integer documentId, final ApiCallback<DocumentWorkflow> _callback) throws ApiException {

        okhttp3.Call localVarCall = getDocumentWorkflowValidateBeforeCall(documentId, _callback);
        Type localVarReturnType = new TypeToken<DocumentWorkflow>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for getWorkflowTemplates
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An array with a team&#39;s available WorkflowTemplates. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getWorkflowTemplatesCall(final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/workflows/templates";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call getWorkflowTemplatesValidateBeforeCall(final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = getWorkflowTemplatesCall(_callback);
        return localVarCall;

    }

    /**
     * Retrieve workflow templates
     * Get all the possible Workflow Templates owned by the team. Useful for retrieving the ids corresponding to each workflow tables, and passing them to subsequent requests, for example, creating a new Job with a specific Workflow.  Example CURL: &#x60;&#x60;&#x60; curl --X --request GET &#39;https://lilt.com/2/workflows/templates?key&#x3D;API_KEY&#39; &#x60;&#x60;&#x60;  
     * @return List&lt;WorkflowTemplate&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An array with a team&#39;s available WorkflowTemplates. </td><td>  -  </td></tr>
     </table>
     */
    public List<WorkflowTemplate> getWorkflowTemplates() throws ApiException {
        ApiResponse<List<WorkflowTemplate>> localVarResp = getWorkflowTemplatesWithHttpInfo();
        return localVarResp.getData();
    }

    /**
     * Retrieve workflow templates
     * Get all the possible Workflow Templates owned by the team. Useful for retrieving the ids corresponding to each workflow tables, and passing them to subsequent requests, for example, creating a new Job with a specific Workflow.  Example CURL: &#x60;&#x60;&#x60; curl --X --request GET &#39;https://lilt.com/2/workflows/templates?key&#x3D;API_KEY&#39; &#x60;&#x60;&#x60;  
     * @return ApiResponse&lt;List&lt;WorkflowTemplate&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An array with a team&#39;s available WorkflowTemplates. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<List<WorkflowTemplate>> getWorkflowTemplatesWithHttpInfo() throws ApiException {
        okhttp3.Call localVarCall = getWorkflowTemplatesValidateBeforeCall(null);
        Type localVarReturnType = new TypeToken<List<WorkflowTemplate>>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Retrieve workflow templates (asynchronously)
     * Get all the possible Workflow Templates owned by the team. Useful for retrieving the ids corresponding to each workflow tables, and passing them to subsequent requests, for example, creating a new Job with a specific Workflow.  Example CURL: &#x60;&#x60;&#x60; curl --X --request GET &#39;https://lilt.com/2/workflows/templates?key&#x3D;API_KEY&#39; &#x60;&#x60;&#x60;  
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An array with a team&#39;s available WorkflowTemplates. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call getWorkflowTemplatesAsync(final ApiCallback<List<WorkflowTemplate>> _callback) throws ApiException {

        okhttp3.Call localVarCall = getWorkflowTemplatesValidateBeforeCall(_callback);
        Type localVarReturnType = new TypeToken<List<WorkflowTemplate>>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for rejectWorkflowStage
     * @param documentId A document id. (required)
     * @param taskId The task id of the current workflow stage. (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An object with a documents next task Workflow metadata. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call rejectWorkflowStageCall(Integer documentId, Integer taskId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/document/{documentId}/task/{taskId}/reject"
            .replaceAll("\\{" + "documentId" + "\\}", localVarApiClient.escapeString(documentId.toString()))
            .replaceAll("\\{" + "taskId" + "\\}", localVarApiClient.escapeString(taskId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call rejectWorkflowStageValidateBeforeCall(Integer documentId, Integer taskId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'documentId' is set
        if (documentId == null) {
            throw new ApiException("Missing the required parameter 'documentId' when calling rejectWorkflowStage(Async)");
        }
        
        // verify the required parameter 'taskId' is set
        if (taskId == null) {
            throw new ApiException("Missing the required parameter 'taskId' when calling rejectWorkflowStage(Async)");
        }
        

        okhttp3.Call localVarCall = rejectWorkflowStageCall(documentId, taskId, _callback);
        return localVarCall;

    }

    /**
     * Move workflow to the previous stage
     * Move a workflow to the previous stage and mark current workflow task as rejected.  Example CURL: &#x60;&#x60;&#x60; curl --X --request POST &#39;https://lilt.com/2/workflows/document/{documentId}/task/{taskId}/reject?key&#x3D;API_KEY&#39; &#x60;&#x60;&#x60;  
     * @param documentId A document id. (required)
     * @param taskId The task id of the current workflow stage. (required)
     * @return NextWorkflowTask
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An object with a documents next task Workflow metadata. </td><td>  -  </td></tr>
     </table>
     */
    public NextWorkflowTask rejectWorkflowStage(Integer documentId, Integer taskId) throws ApiException {
        ApiResponse<NextWorkflowTask> localVarResp = rejectWorkflowStageWithHttpInfo(documentId, taskId);
        return localVarResp.getData();
    }

    /**
     * Move workflow to the previous stage
     * Move a workflow to the previous stage and mark current workflow task as rejected.  Example CURL: &#x60;&#x60;&#x60; curl --X --request POST &#39;https://lilt.com/2/workflows/document/{documentId}/task/{taskId}/reject?key&#x3D;API_KEY&#39; &#x60;&#x60;&#x60;  
     * @param documentId A document id. (required)
     * @param taskId The task id of the current workflow stage. (required)
     * @return ApiResponse&lt;NextWorkflowTask&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An object with a documents next task Workflow metadata. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<NextWorkflowTask> rejectWorkflowStageWithHttpInfo(Integer documentId, Integer taskId) throws ApiException {
        okhttp3.Call localVarCall = rejectWorkflowStageValidateBeforeCall(documentId, taskId, null);
        Type localVarReturnType = new TypeToken<NextWorkflowTask>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Move workflow to the previous stage (asynchronously)
     * Move a workflow to the previous stage and mark current workflow task as rejected.  Example CURL: &#x60;&#x60;&#x60; curl --X --request POST &#39;https://lilt.com/2/workflows/document/{documentId}/task/{taskId}/reject?key&#x3D;API_KEY&#39; &#x60;&#x60;&#x60;  
     * @param documentId A document id. (required)
     * @param taskId The task id of the current workflow stage. (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An object with a documents next task Workflow metadata. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call rejectWorkflowStageAsync(Integer documentId, Integer taskId, final ApiCallback<NextWorkflowTask> _callback) throws ApiException {

        okhttp3.Call localVarCall = rejectWorkflowStageValidateBeforeCall(documentId, taskId, _callback);
        Type localVarReturnType = new TypeToken<NextWorkflowTask>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for setDocumentStage
     * @param documentId A document id. (required)
     * @param workflowStageId  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An object with a documents next task Workflow metadata. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call setDocumentStageCall(Integer documentId, SetDocumentStageRequest workflowStageId, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = workflowStageId;

        // create path and map variables
        String localVarPath = "/workflows/{documentId}/stage"
            .replaceAll("\\{" + "documentId" + "\\}", localVarApiClient.escapeString(documentId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKeyAuth", "BasicAuth" };
        return localVarApiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call setDocumentStageValidateBeforeCall(Integer documentId, SetDocumentStageRequest workflowStageId, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'documentId' is set
        if (documentId == null) {
            throw new ApiException("Missing the required parameter 'documentId' when calling setDocumentStage(Async)");
        }
        

        okhttp3.Call localVarCall = setDocumentStageCall(documentId, workflowStageId, _callback);
        return localVarCall;

    }

    /**
     * Set Workflow stage for a document
     * Set the Workflow stage for a document. You can find the stage information required for this request from the \&quot;Retrieve document Workflow metadata\&quot; endpoint.  Example CURL: &#x60;&#x60;&#x60; curl --X --request PUT &#39;https://lilt.com/2/workflows/document/{documentId}/stage?key&#x3D;API_KEY&#39; \\ --header &#39;Content-Type: application/json&#39; \\ --data-raw &#39;{   \&quot;workflowStageId\&quot;: {workflowStageId} }&#39; &#x60;&#x60;&#x60;  
     * @param documentId A document id. (required)
     * @param workflowStageId  (optional)
     * @return NextWorkflowTask
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An object with a documents next task Workflow metadata. </td><td>  -  </td></tr>
     </table>
     */
    public NextWorkflowTask setDocumentStage(Integer documentId, SetDocumentStageRequest workflowStageId) throws ApiException {
        ApiResponse<NextWorkflowTask> localVarResp = setDocumentStageWithHttpInfo(documentId, workflowStageId);
        return localVarResp.getData();
    }

    /**
     * Set Workflow stage for a document
     * Set the Workflow stage for a document. You can find the stage information required for this request from the \&quot;Retrieve document Workflow metadata\&quot; endpoint.  Example CURL: &#x60;&#x60;&#x60; curl --X --request PUT &#39;https://lilt.com/2/workflows/document/{documentId}/stage?key&#x3D;API_KEY&#39; \\ --header &#39;Content-Type: application/json&#39; \\ --data-raw &#39;{   \&quot;workflowStageId\&quot;: {workflowStageId} }&#39; &#x60;&#x60;&#x60;  
     * @param documentId A document id. (required)
     * @param workflowStageId  (optional)
     * @return ApiResponse&lt;NextWorkflowTask&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An object with a documents next task Workflow metadata. </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<NextWorkflowTask> setDocumentStageWithHttpInfo(Integer documentId, SetDocumentStageRequest workflowStageId) throws ApiException {
        okhttp3.Call localVarCall = setDocumentStageValidateBeforeCall(documentId, workflowStageId, null);
        Type localVarReturnType = new TypeToken<NextWorkflowTask>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Set Workflow stage for a document (asynchronously)
     * Set the Workflow stage for a document. You can find the stage information required for this request from the \&quot;Retrieve document Workflow metadata\&quot; endpoint.  Example CURL: &#x60;&#x60;&#x60; curl --X --request PUT &#39;https://lilt.com/2/workflows/document/{documentId}/stage?key&#x3D;API_KEY&#39; \\ --header &#39;Content-Type: application/json&#39; \\ --data-raw &#39;{   \&quot;workflowStageId\&quot;: {workflowStageId} }&#39; &#x60;&#x60;&#x60;  
     * @param documentId A document id. (required)
     * @param workflowStageId  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> An object with a documents next task Workflow metadata. </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call setDocumentStageAsync(Integer documentId, SetDocumentStageRequest workflowStageId, final ApiCallback<NextWorkflowTask> _callback) throws ApiException {

        okhttp3.Call localVarCall = setDocumentStageValidateBeforeCall(documentId, workflowStageId, _callback);
        Type localVarReturnType = new TypeToken<NextWorkflowTask>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
